@font-face {
    src: url('samsungsharpsans-bold.otf');
    font-family: samsungsharpsans;
}

.text {
    color: white;
    position: fixed;
    font-family: samsungsharpsans;
}

body,
h1,
h3 {
    transition: 1s;
    margin: 0;
}

h1 {
    font-size: 20vmin;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

h3 {
    font-size: 1vmax;
    bottom: 5mm;
    right: 5mm;
}