.text {
    color: white;
}

body,
h1,
h3 {
    transition: 1s;
    margin: 0;
}

h1,
h3 {
    font-family: Ubuntu;
}

body {
    user-select: none;
}

.center {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    text-align: center;
    font-size: 20vmin;
    font-family: Ubuntu;
}

.bottom {
    bottom: 5mm;
    right: 5mm;
    position: fixed;
    font-size: 3vmax;
    font-family: Ubuntu;
}